.listItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    border: 1px solid black;
}

.listItems, h3, p {
    margin: 1rem;
}

.high {
    color: red;
}

.task-prio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.complete {
    background-image: repeating-linear-gradient(
        -45deg,
        chartreuse,
        #ccc 10px,
        transparent 10px,
        transparent 20px
    );
}

.uncomplete {
    background-color: none;
}